<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.Wh.pretty"
			class = "pretty.wh.WhPackage"
			genModel = "model/generated/Wh.genmodel" />
	</extension>
</plugin>
